.featuredProducts {
  margin: 100px 150px;
  // border: solid;
  @media screen and (max-width: 750px) {
    margin: 50px 50px;
    .top {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
  }
  .top {
    display: flex;
    margin-bottom: 50px;
    h1 {
      flex: 1;
      text-transform: capitalize;
    }
    p {
      flex: 2;
      text-align: justify;
      color: #555;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    // border: solid;
  }
}
