*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .links{
        text-decoration-line: none;
        color:rgb(0, 0, 0);
        font-size: .9rem;
        font-family: math,sans-serif;
    }
}