.product {
  padding: 0px 50px;
  height: 100%;
  margin-block: 50px;
  display: flex;
  //   justify-content: space-evenly;
  gap: 50px;
  .left {
    flex: 1;
    display: flex;
    gap: 20px;
    .images {
      flex: 1;
      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .mainImg {
      flex: 5;
      img {
        width: 100%;
        height: 80%;
        object-fit: cover;
      }
    }
  }
  .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    h1 {
      //   border: solid;
      //   font-size: 20px;
      font-weight: bold;
      font-family: math, sans-serif;
      text-transform: capitalize;
    }
    .price {
      color: #2879fe;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      text-align: justify;
    }
    .quantity {
      display: flex;
      align-items: center;
      column-gap: 10px;
      button {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        color: slategrey;
      }
    }

    .addToCart {
      width: 200px;
      padding: 10px;
      background-color: #2879fe;
      color: white;
      font-size: 16px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      &:hover {
        background-color: #256fe6;
      }
    }
    .link {
      display: flex;
      column-gap: 20px;
      .linkItems {
        display: flex;
        align-items: center;
        column-gap: 5px;
        color: #2879fe;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    .info {
      //   margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: gray;
      font-size: 12px;
      hr {
        width: 200px;
        // border: 0.5px solid rgb(190, 188, 188);
      }
    }
    hr {
      width: 100%;
      border: 1px solid rgb(190, 188, 188);
    }
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
    .left {
      flex-direction: column-reverse;
      .images {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        img {
          height: 50px;
          width: 70px;
        }
      }
      .mainImg {
        img {
          height: 250px;
        }
      }
    }
    .right {
      h1 {
        font-size: 1.7rem;
      }
    }
  }
}
