.navbar {
  width: 100%;
  height: 70px;
  position: relative; // for cart
  border-bottom: 1px lightgray solid;
  .wrapper {
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .items {
      display: flex;
      align-items: center;
      padding-inline: 10px;
      text-transform: capitalize;
      &:hover {
        text-decoration-line: underline;
        transition: all 1s ease;
      }
    }
    .left {
      display: flex;
      align-items: center;
      img {
        height: 20px;
        aspect-ratio: 1/1;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .center {
      .brand-name {
        a {
          color: green;
          font: 1.5rem sans-serif;
          text-shadow: 0 0 0.2px black;
          font-family: math, sans-serif;
        }
      }
    }
    .right {
      display: flex;
      .navigation-links {
        display: flex;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .items {
        position: relative;
      }
      .icons {
        display: flex;
        color: gray;
        cursor: pointer;
        span {
          position: absolute;
          top: -10px;
          right: -4px;

          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: blue;
          color: white;
          font-size: 0.8rem;

          display: flex;
          justify-content: center;
          align-items: center;
        }
        .items {
          @media (max-width: 900px) {
            display: none;
            &:last-child {
              display: block;
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    margin-left: 10px;

    span {
      width: 25px;
      height: 3px;
      background-color: black;
    }

    @media (max-width: 900px) {
      display: flex;
    }
  }

  .mobile-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    z-index: 999;

    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      text-transform: capitalize;
    }

    @media (min-width: 901px) {
      display: none;
    }
  }

}
