.categoryProducts {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItems {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 1.2rem;
      }

      .inputItems {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
          cursor: pointer;
        }
        span {
          padding-inline: 5px;
        }
      }
    }
  }

  .right {
    flex: 3;

    .categoryImage {
      .categoryBannerImg {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 50px;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        &:hover {
          background-position: center bottom;
          transition: all 2s ease-in-out;
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    row-gap: 20px;
    .left {
      // padding: 30px 50px;
      position: static;
      display: flex;
      justify-content: space-between;
      .range {
        display: flex;
        gap: 5px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .left {
      // padding: 30px 50px;
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
